body {

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
  background-color:#45a29e;
  font-family: 'Roboto Mono', monospace;
}
.bg{
  background-size: 50px 50px;
  background-image:
    linear-gradient(to right, #45ABA8 1px, transparent 1px),
    linear-gradient(to bottom,#45ABA8 1px, transparent 1px);
  
}
.bgdetail{
  background-size: 10px 10px;
  background-image:
    linear-gradient(to right, #45ABA8 0.2px, transparent 0.8px),
    linear-gradient(to bottom,#45ABA8 0.2px, transparent 0.8px);
  
}

  .custom-navbar {
    border: none;
    margin-bottom: 0;
    padding: 5px 0;
	background-color:#1f2833;
  }

  .custom-navbar .navbar-brand {
	margin-top:-5px;
 }


  .top-nav-collapse {
    background: #1f2833;
  }

  .custom-navbar .navbar-nav.navbar-right li a {
    padding-right: 12px;
    padding-left: 12px;
  }

  .custom-navbar .nav li a {
    font-size: 14px;
    font-weight: 500;
    color: #66fcf1;
	text-align:center;
    letter-spacing: -0.5px;
    padding-right: 22px;
    padding-left: 22px;
  }

  .custom-navbar .nav li a:hover {
    background: transparent;
    color: #45a29e;
  }

  .custom-navbar .navbar-nav > li > a:hover,
  .custom-navbar .navbar-nav > li > a:focus {
    background-color: transparent;
  }

  .custom-navbar .nav li.active > a {
    background-color: transparent;
    color: #a43f49;
  }

  .custom-navbar .navbar-toggle {
    border: none;
    padding-top: 10px;
  }

  .custom-navbar .navbar-toggle {
    background-color: transparent;
	border-style:solid;
	border-radius:10px;
	border-color:#66fcf1;
  }

  .custom-navbar .navbar-toggle .icon-bar {
    background: #66fcf1;
    border-color: transparent;
  }


   
  .section {
    color: #66fcf1;
    background-color:#1f2833;
    position: relative;
    min-height: 100vh;
    padding-bottom: 0px;
	}
	

.section-heading {
    text-align: center;
    padding: 70px 45px;
}


 .line-dec {
    width: 60px;
    height: 3px;
    background-color: #a43f49;
    margin: 10px auto;
	margin-bottom:40px;
}

.section-heading span {
    margin-top: 5px;
    font-size: 16px;
    color: #fff;
    letter-spacing: 0.5px;
}

/*box*/
.sections-wrapper {
  padding-top: 10px;
  padding-bottom: 1px;
  
  
}
.blue-section{
  background-color:#66fcf1;
}
.red-section {
  background-color:#E35A51;
}

.blue-top{
  background-color:#66fcf1;
  clip-path:polygon(0% 83.34%,100% 0%,100% 100%,0% 100%);
  height:60px;
  margin-bottom:-10px;
  margin-top:-30px;
}
.blue-bottom{
  background-color:#66fcf1;
  clip-path:polygon(0% 0%,100% 0%,100% 100%,0% 16.66%);
  height:60px;
  margin-top:-10px;
  margin-bottom:-30px;
}
.red-top{
  background-color:#e35a51;
  clip-path:polygon(0% 0%,100% 83.34%,100% 100%,0% 100%);
  height:60px;
  margin-bottom:-10px;
  margin-top:-30px;
}
.red-bottom{
  background-color:#e35a51;
  clip-path:polygon(0% 0%,100% 0%,100% 16.66%,0% 100%);
  height:60px;
  margin-top:-10px;
  margin-bottom:-30px;
}
.section-inner {
  padding: 30px;
  
}

.heading {
  text-align:center;
  margin-top: 0;
  color: Black;
  font-size: 24px;
}
.content{
  color:Black;
}
.content .more-link .svg-inline--fa {

  margin-right: 5px;
  font-size: 14px;
  position: relative;
  top: -2px;
}


/*
contact
*/
.contactme-top{
  clip-path: polygon(0% 83.33%, 100% 0%, 100% 100%, 0% 100%);
  background-color:#1f2833;
  height:60px;
  margin-bottom:-10px;
  margin-top:-5px;
}
.contactme{
  padding-top:50px;
  padding-bottom:50px;
  padding-left:5px;
  padding-right:5px;
  background-color:#1f2833;
  color:#66fcf1;
  text-align:center;
 
}
.contactme .heading{
  color:#66fcf1;
}
/*social icon*/
.socialicon{
  margin:5px 5px;
}


.progress{
  position:relative;
  height:25px;
  
}
.progress-bar{
  background-color:#45a29e;
}
.progress > .progress-type{
  position:absolute;
  left:0px;
  
  font-weight:500;
  padding:3px 30px 2px 4px;
  
  color:#f1f1f1;
  background-color:rgb(25,25,25,0.2);
  }

  .progress > .progress-completed{
  position:absolute;
  right:0px;
  font-weight:500;
  padding:3px 10px 2px;
  color:#1f2833;
  }

  
  a.buttoninside:link, a.buttoninside:visited {
  background-color: #1f2833;
  color: #66fcf1;
  border:1px solid #66fcf1;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  width:50%;
}

a.buttoninside:hover, a.buttoninside:active {
  background-color: #66fcf1;
  color:#1f2833;
}
.buttonlay{
  padding:10px; 
}
.button{
  margin-top:5em;
  
}



.avatar {
	width: 70%;
	height: auto;
  border-radius: 50%;
  margin: 10px;
 
}

.profile__avatar {
  position: absolute;
  z-index: 1;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 50%;
  margin-top:10px;
  overflow: hidden;
  width: 15em;
  height: 15em;
  display: block;
  
}
.aboutcontent{
  margin-top:15.001em;
  padding-bottom:50px;
  padding-left:20px;
  padding-right:20px;
  text-align:center;
}




.portfolio-image{
  width:100%;
  border-top-left-radius:10px;
  border-top-right-radius:10px;
}
.row {
  margin: 8px -16px;
}

/* Add padding BETWEEN each column (if you want) */
.row,
.row > .column {
  padding: 8px;
}

/* Create four equal columns that floats next to each other */
.column {
  float: left;
  width: 25%;
}

/* Clear floats after rows */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Content */
.portcontent {
  background-color: #f1f1f1;
  border-radius:10px;
  
}
.portfolio-detail{
  padding:10px;
  text-align:center;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (min-width: 768px) {
  .column {
    width: 50%;
  }
   .mainheading{
  font-size:100px;
  text-align:left;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 768px) {
  .column {
    width: 100%;
  }
  .mainheading{
  font-size:20vw;
  text-align:left;
}
  }
 .arrow-down{
   margin-top:5em;
 }
