/*body {
   background: url(../assets/images/page-bg.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
}*/
body{
  background-color:#45a29e;
}
.bg{
  background-size: 50px 50px;
  background-image:
    linear-gradient(to right, #45ABA8 1px, transparent 1px),
    linear-gradient(to bottom,#45ABA8 1px, transparent 1px);
  
}
.bgdetail{
  background-size: 10px 10px;
  background-image:
    linear-gradient(to right, #45ABA8 0.2px, transparent 0.8px),
    linear-gradient(to bottom,#45ABA8 0.2px, transparent 0.8px);
  
}

  .custom-navbar {
    border: none;
    margin-bottom: 0;
    padding: 5px 0;
	background-color:#1f2833;
  }

  .custom-navbar .navbar-brand {
	
    color: #66fcf1;
    font-size: 25px;
    font-weight: 500;
    letter-spacing: -1px;
 }


  .top-nav-collapse {
    background: #1f2833;
  }

  .custom-navbar .navbar-nav.navbar-right li a {
    padding-right: 12px;
    padding-left: 12px;
  }

  .custom-navbar .nav li a {
    font-size: 14px;
    font-weight: 500;
    color: #777777;
	text-align:center;
    letter-spacing: -0.5px;
    padding-right: 22px;
    padding-left: 22px;
  }

  .custom-navbar .nav li a:hover {
    background: transparent;
    color: black;
  }

  .custom-navbar .navbar-nav > li > a:hover,
  .custom-navbar .navbar-nav > li > a:focus {
    background-color: transparent;
  }

  .custom-navbar .nav li.active > a {
    background-color: transparent;
    color: #a43f49;
  }

  .custom-navbar .navbar-toggle {
    border: none;
    padding-top: 10px;
  }

  .custom-navbar .navbar-toggle {
    background-color: transparent;
	border-style:solid;
	border-radius:10px
  }

  .custom-navbar .navbar-toggle .icon-bar {
    background: #66fcf1;
    border-color: transparent;
  }

  @media(min-width:768px) {
    .custom-navbar {
      border-bottom: 0;
      background:White; 
    }

    .custom-navbar.top-nav-collapse {
      background: Black;
      -webkit-box-shadow: 0 1px 30px rgba(0, 0, 0, 0.1);
      -moz-box-shadow: 0 1px 30px rgba(0, 0, 0, 0.1);
      box-shadow: 0 1px 30px rgba(0, 0, 0, 0.1);
      padding: 12px 0;
    }
}

   
  .section {
    color: #fff;
    right: 1%;
    left: 1%;
    position: relative;
    min-height: 100vh;
    padding-bottom: 80px;
   
}

.section-heading {
    text-align: center;
    padding: 70px 45px;
}

.section-heading h2 {
    font-size: 32px;
    font-weight: 700;
    color: #fff;
}

.section-heading .line-dec {
    width: 60px;
    height: 3px;
    background-color: #a43f49;
    margin: 10px auto;
}

.section-heading span {
    margin-top: 5px;
    font-size: 16px;
    color: #fff;
    letter-spacing: 0.5px;
}

/*box*/
.sections-wrapper {
  padding-top: 10px;
  padding-bottom: 1px;
  
  
}
.right {
  background-color:#E35A51;
  margin-bottom: 0px;
  clip-path:polygon(0% 0%,100% 10%,100% 90%,0% 100%);
}

.left {
  background-color:#66fcf1;
  margin-bottom: 0px;
  clip-path:polygon(0% 10%,100% 0%,100% 100%,0% 90%);
}

.section-inner {
  
  padding: 30px;
  
}

.heading {
  text-align:center;
  margin-top: 0;
  margin-bottom: 30px;
  color: #545e69;
  font-size: 24px;
}
.content{
  color:Black;
}
.content .more-link .svg-inline--fa {

  margin-right: 5px;
  font-size: 14px;
  position: relative;
  top: -2px;
}


/*
contact
*/
.contactme{
  clip-path: polygon(0% 0%, 100% 15%, 100% 100%, 0% 100%);
  padding-top:50px;
  padding-bottom:5px;
  padding-left:5px;
  padding-right:5px;
  background-color:#1f2833;
  text-align:center;
  color:Black; 
}

/*social icon*/
.socialicon{
  margin:5px 5px;
}

/**/

